@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color1: #043873;
    --primary-color2: #4f9cf9;
    --secondary-color1: #ffe492;
    --secondary-color2: #a7cefc;
    --secondary-color3: #fff;
    --secondary-color4: #212529;
  }
}
*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  cursor: grab;
}


.plan li::marker {
    content : url("../../public/Icon.png")
}